{% extends 'movie_rental/layout.html' %}

{% block title %}
Movie Rental - Clients
{% endblock title %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Clients</li>
</ol>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<div class="form-row">
    <div class="form-group col-md-8" style="margin-bottom: 0;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search..." aria-label="" style="width: 250px;">
            <div class="input-group-append">
                <span class="input-group-text" id=""><i class="fa fa-search"></i> </span>
            </div>
        </div>
    </div>
    <div class="form-group col-md-4">
        <a class="btn btn-primary fa-pull-right" href="{% url 'addClient' %}">Add Client </a>
    </div>
</div>

<div>
    <table class="table" id="clientGrid">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Membership Type</th>
            </tr>
        </thead>
    </table>
</div>


{% load static %}
<script src="{% static '/movie_rental/jquery/jquery-3.1.1.min.js' %}"></script>
<script src="{% static '/movie_rental/js/vanillatoasts.js' %}"></script>
<link href="{% static '/movie_rental/css/vanillatoasts.css' %}" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('.alert').alert()

        $("#clientGrid").DataTable({
            data: [],
            scrollY: "30vh",
            columns: [
                {
                    data: "Name", width: "",
                    render: function (data, type, row, meta) {
                        return '<a href=/change/' + row.id + '>' + data + '</a>'
                    }
                },
                { data: "email_address", width: "30%" },
                { data: "membership_type", width: "25%" }
            ]
        });

        var clientGrid = $("#clientGrid").DataTable()

        $.ajax({
            type: 'GET',
            url: '/api/clients',
            dataType: 'json',
            success: function (data) {
                $(data).each(function (i, e) {
                    e.Name = e.first_name + " " + e.last_name;
                    switch (e.membership_type) {
                        case 1:
                            e.membership_type = "Pay as you go";
                            break;
                        case 2:
                            e.membership_type = "Monthly";
                            break;
                        case 3:
                            e.membership_type = "Quaterly";
                            break;
                        case 4:
                            e.membership_type = "Annually"
                            break;
                    }
                })

                clientGrid.clear()
                clientGrid.rows.add(data)
                clientGrid.draw()
            },
            error: function () {
                showToast('Unable to reach the server. Please try again', 'error')
            }
        });

        function showToast(text, type) {
            VanillaToasts.create({
                title: 'Movie App',
                text: text,
                type: type,
                timeout: 5000,
            });
        }

    })
</script>

{% endblock content %}