{% extends 'movie_rental/layout.html' %}


{% block title %}
{% if client_id %}
Movie Rental - Update Client
{% else %}
Movie Rental - Add Client
{% endif %}
{% endblock title %}

{% block content %}

{% if client_id %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'client' %}">Clients</a>
    </li>
    <li class="breadcrumb-item active">{{ fname }} {{ lname }}</li>
</ol>
{% else %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'client' %}">Clients</a>
    </li>
    <li class="breadcrumb-item active">Add Client</li>
</ol>
{% endif %}

{% if client_id %}
<h5>Update Client</h5>
{% else %}
<h5>Add Client</h5>
{% endif %}
<br>

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<form id="newClientForm" action="{% url 'client' %}" method="POST">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="fname" class="">First Name</label>
            <input type="text" id="fname" name="fname" class="form-control" placeholder="First Name" value="{{ fname }}"
                data-bind="value: firstName" />
        </div>

        <div class="form-group col-md-6">
            <label for="lname" class="">Last Name</label>
            <input type="text" id="lname" name="lname" class="form-control" placeholder="Last Name" value="{{ lname }}"
                data-bind="value: lastName" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email_address" class="">Email Address</label>
            <input type="email" id="email_address" name="email_address" class="form-control" placeholder="Email address"
                value="{{ email_address }}" data-bind="value: emailAddress" />
        </div>

        <div class="form-group col-md-6">
            <label for="tel_number" class="">Telephone Number</label>
            <input type="tel" id="tel_number" name="tel_number" class="form-control" placeholder="Telephone Number"
                value="{{ tel_number }}" data-bind="value: telephoneNumber" />
        </div>
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" class="form-control" placeholder="Street Address"
            value="{{ address }}" data-bind="value: address" />
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="date_of_birth" class="">Date of Birth</label>
            <input type="date" name="date_of_birth" id="date_of_birth" class="form-control" value="{{ date_of_birth }}"
                data-bind="value: dateOfBirth" />
        </div>

        <div class="form-group col-md-6">
            <label for="member_type" class="">Membership Type</label>
            <select class="form-control" id="member_type" name="member_type" value="{{ member_type }}"
                data-bind="enable: dateOfBirth, options: membershipTypes, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Please select a Membership type', value: memberType">
            </select>
        </div>
    </div>

    {% if client_id %}
    <div class="form-group">
        <input type="hidden" id="client_id" name="client_id" value="{{ client_id }}" />
    </div>
    {% endif %}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>


{% load static %}
<script src="{% static '/movie_rental/jquery/jquery-3.1.1.min.js' %}"></script>
<script src="{% static '/movie_rental/js/knockout-3.5.1.js' %}"></script>
<script src="{% static '/movie_rental/js/jquery-validation/jquery.validate.min.js' %}"></script>

<script>
    $("#newClientForm").validate({
        rules: {
            fname: "required",
            lname: "required",
            email_address: {
                required: true,
                email: true
            },
            tel_number: {
                required: true,
                digits: true
            },
            address: "required",
            date_of_birth: "required",
            member_type: "required",
        },
        messages: {
            fname: "Please enter your First name",
            lname: "Please enter your Last name",
            email_address: "Please enter a valid email address",
            tel_number: "Please enter a valid telephone number",
            address: "Please enter the address",
            date_of_birth: "Please select the date of birth",
            member_type: "Please select a membership type",
        }
    });

    $(document).ready(function () {
        if ("{{ client_id }}") {
            $("#fname").attr("readonly", "readonly")
            $("#lname").attr("readonly", "readonly")
            $("#date_of_birth").attr("readonly", "readonly")
        }
        else {
            $("#fname").removeAttr("readonly", "readonly")
            $("#lname").removeAttr("readonly", "readonly")
            $("#date_of_birth").removeAttr("readonly", "readonly")
        }

        function AppViewModel() {
            self = this;

            self.id = ko.observable(-1)
            self.firstName = ko.observable($("#fname").val());
            self.lastName = ko.observable($("#lname").val());
            self.emailAddress = ko.observable($("#email_address").val());
            self.telephoneNumber = ko.observable($("#tel_number").val());
            self.address = ko.observable($("#address").val());
            self.dateOfBirth = ko.observable($("#date_of_birth").val());
            self.membershipTypes = ko.observableArray([{ id: 1, name: "Pay as you go" }, { id: 2, name: "Monthly" },
            { id: 3, name: "Quaterly" }, { id: 4, name: "Annually" }]);
            self.memberType = ko.observable("{{ member_type }}");
        }

        ViewModel = new AppViewModel()
        ko.applyBindings(ViewModel)

    })
</script>

{% endblock content %}