<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link rel="stylesheet" href="{% static '/movie_rental/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/movie_rental/css/site.css' %}" />
    <script type="text/javascript" src="{% static '/movie_rental/jquery/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/movie_rental/js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="login_div">
        <form action="{% url 'signin' %}" method="POST">
            {% csrf_token %}
            <h1 class="h4 mb-3 font-weight-normal">Please sign in</h1>
            <br>

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="form-group">
                <label class="sr-only" for="email">Email address</label>
                <input class="form-control no_border_radius" id="email" name="email" autofocus="" required="" value=""
                    type="email" placeholder="Email address">
            </div>

            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input class="form-control no_border_radius" id="password" name="password" required="" type="password"
                    placeholder="Password">
                <p class="text-right"><a href="{% url 'forgot' %}">Forgot password?</a></p>
            </div>

            <button class="btn btn-lg btn-primary btn-block no_border_radius" type="submit">Sign in</button>
            <p class="mt-4 mb-3 text-muted text-center"> &copy {% now 'Y' %}</p>

        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
        })
    </script>
</body>

</html>