{% extends 'movie_rental/layout.html' %}


{% block title %}
Movie Rental - Movies
{% endblock title %}


{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Movies</li>
</ol>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<div class="form-row">
    <div class="form-group col-md-8" style="margin-bottom: 0;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search..." aria-label="" style="width: 250px;">
            <div class="input-group-append">
                <span class="input-group-text" id=""><i class="fa fa-search"></i> </span>
            </div>
        </div>
    </div>
</div>

<div>
    <table class="table" id="moviesGrid">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Rating</th>
            </tr>
        </thead>
    </table>
</div>

{% load static %}
<script src="{% static '/movie_rental/jquery/jquery-3.1.1.min.js' %}"></script>
<script src="{% static '/movie_rental/js/knockout-3.5.1.js' %}"></script>
<script src="{% static '/movie_rental/js/vanillatoasts.js' %}"></script>
<script src="{% static '/movie_rental/js/jquery-validation/jquery.validate.min.js' %}"></script>
<link href="{% static '/movie_rental/css/vanillatoasts.css' %}" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('.alert').alert()

        $("#moviesGrid").DataTable({
            data: [],
            scrollY: "30vh",
            columns: [
                {
                    data: "title", width: "",
                    render: function (data, type, row, meta) { return '<a href=/rentmovie/' + row.id + '>' + data + '</a>' }
                },
                { data: "genre", width: "" },
                { data: "rating", width: "" },
            ]
        });

        var moviesGrid = $("#moviesGrid").DataTable()

        $.ajax({
            type: 'GET',
            url: '/api/movies',
            dataType: 'json',
            success: function (data) {
                $(data).each(function (i, e) {
                    switch (e.rating) {
                        case 1:
                            e.rating = "PG";
                            break;
                        case 2:
                            e.rating = "10+";
                            break;
                        case 3:
                            e.rating = "13+";
                            break;
                        case 4:
                            e.rating = "16+"
                            break;
                        case 5:
                            e.rating = "18+"
                            break;
                    }
                })

                moviesGrid.clear()
                moviesGrid.rows.add(data)
                moviesGrid.draw()
            },
            error: function () {
                showToast('Unable to reach the server. Please try again', 'error')
            }
        });

        function showToast(text, type) {
            VanillaToasts.create({
                title: 'Movie App',
                text: text,
                type: type,
                timeout: 5000,
            });
        }

    })
</script>

{% endblock content %}