<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link rel="stylesheet" href="{% static '/movie_rental/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/movie_rental/css/site.css' %}" />
    <script type="text/javascript" src="{% static '/movie_rental/jquery/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/movie_rental/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/movie_rental/js/jquery-validation/jquery.validate.min.js' %}"></script>

</head>

<body>
    <div class="login_div">
        <form id="newPasswordForm" action="{% url 'newpassword' %}" method="POST">
            {% csrf_token %}
            <h1 class="h4 mb-3 font-weight-normal">Reset password</h1>
            <br>

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input class="form-control no_border_radius" id="password" name="password" autofocus="" required=""
                    type="password" placeholder="Password">
            </div>

            <div class="form-group">
                <label class="sr-only" for="confirm_password">Confirm Password</label>
                <input class="form-control no_border_radius" id="confirm_password" name="confirm_password" required=""
                    type="password" placeholder="Confirm Password">
            </div>

            <input type="hidden" name="mail" id="mail" value="{{ mail }}">

            <button class="btn btn-lg btn-primary btn-block no_border_radius" type="submit">Reset</button>
            <p class="mt-4 mb-3 text-muted text-center"> &copy {% now 'Y' %}</p>

        </form>
    </div>

    <script type="text/javascript">
        $("#newPasswordForm").validate({
            rules: {
                password: {
                    minlength: 6
                },
                confirm_password: {
                    minlength: 6,
                    equalTo: "#password"
                }
            }
        });
    </script>
</body>

</html>