{% extends 'movie_rental/layout.html' %}


{% block title %}
Movie Rental - Rent Movie
{% endblock title %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'signin' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'movies' %}">Movies</a>
    </li>
    <li class="breadcrumb-item active">Rent movie</li>
</ol>

<h5>Rent a movie</h5>
<br>

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<form id="rentMovie" action="{% url 'rentMovie' movie_id %}" method="POST">
    {% csrf_token %}

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Movie:</label>
        <div class="col-sm-11">
            <input type="text" readonly class="form-control-plaintext view-only" value="{{ movie_title }}">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Genre:</label>
        <div class="col-sm-5">
            <input type="text" readonly class="form-control-plaintext view-only" value="{{ genre }}">
        </div>

        <label class="col-sm-1 col-form-label">Rating:</label>
        <div class="col-sm-5">
            <input type="text" readonly class="form-control-plaintext view-only" value="{{ rating }}">
        </div>
    </div>

    <hr>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="client">Client</label>
            <select class="form-control" id="client" name="client">    
                <option value=""></option>  
                {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.first_name }} {{ client.last_name }}</option>
                {% endfor %}            
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="quantity">Quantity</label>
            <select class="form-control" id="quantity" name="quantity">
                <option value="">Please select a quantity</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
    </div>    

    <div class="form-group">
        <input type="hidden" id="movie_id" name="movie_id" value="{{ movie_id }}" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>


{% load static %}
<script src="{% static '/movie_rental/jquery/jquery-3.1.1.min.js' %}"></script>
<script src="{% static '/movie_rental/js/knockout-3.5.1.js' %}"></script>
<script src="{% static '/movie_rental/js/jquery-validation/jquery.validate.min.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script>
    $("#rentMovie").validate({
        rules: {
            client: "required",
            quantity: "required",
        }
    });

    $('#client').select2();

    $(document).ready(function () {
        $('.alert').alert()
    })
</script>

{% endblock content %}