<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reset password</title>

    {% load static %}

    <link rel="stylesheet" href="{% static '/movie_rental/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/movie_rental/css/site.css' %}" />
    <script type="text/javascript" src="{% static '/movie_rental/jquery/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/movie_rental/js/bootstrap.min.js' %}"></script>

</head>

<body>
    <div class="login_div">
        <form action="{% url 'forgot' %}" method="POST">
            {% csrf_token %}
            <h5 class="h5 mb-5 font-weight-normal text-center">Input your email to reset your password</h5>

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger " role="alert">
                <h6>{{message}}</h6> 
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                <h6>{{message}}</h6>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            <div class="form-group">
                <label class="sr-only" for="email">Email address</label>
                <input class="form-control no_border_radius" id="email" name="email" autofocus="" required=""
                    value="{{ email }}" type="email" placeholder="Email address">
            </div>

            <button class="btn btn-lg btn-primary btn-block no_border_radius" type="submit">Send</button>
            <p class="text-center">Remember your password?</p>
            <a class="btn btn-lg btn-block no_border_radius" href="{% url 'login' %}">Back to Log in</a>
            <p class="mt-3 mb-3 text-muted text-center"> &copy {% now 'Y' %}</p>

        </form>
    </div>

    <script type="text/javascript">
    </script>
</body>

</html>