{% extends 'movie_rental/layout.html' %}

{% block title %}
Movie Rental - Return Movie
{% endblock title %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Return Movie</li>
</ol>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}

<div class="form-row">
    <div class="form-group col-md-8" style="margin-bottom: 0;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search..." aria-label="" style="width: 250px;">
            <div class="input-group-append">
                <span class="input-group-text" id=""><i class="fa fa-search"></i> </span>
            </div>
        </div>
    </div>
</div>

<div>
    <table class="table" id="rentalsGrid">
        <thead>
            <tr>
                <th>Client</th>
                <th>Movie</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


{% load static %}
<script src="{% static '/movie_rental/jquery/jquery-3.1.1.min.js' %}"></script>
<script src="{% static '/movie_rental/js/vanillatoasts.js' %}"></script>
<link href="{% static '/movie_rental/css/vanillatoasts.css' %}" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $('.alert').alert()

        $("#rentalsGrid").DataTable({
            data: [],
            scrollY: "30vh",
            columns: [
                { data: "client.Name", width: "" },
                { data: "movie.title", width: "30%" },
                {
                    data: "date_rented", width: "25%",
                    render: function (data) {
                        return new Date(data).toDateString()
                    }
                },
                {
                    data: "id", width: "", render: function (data, type, row, meta) {
                        return '<a href=/return_movie/' + data + '/' + row.movie.id + '> Return </a>'
                    }
                }

            ]
        });

        var rentalsGrid = $("#rentalsGrid").DataTable()

        $.ajax({
            type: 'GET',
            url: '/api/rentedMovies',
            dataType: 'json',
            success: function (data) {
                $(data).each(function (i, e) {
                    e.client.Name = e.client.first_name + " " + e.client.last_name;
                })

                rentalsGrid.clear()
                rentalsGrid.rows.add(data)
                rentalsGrid.draw()
            },
            error: function () {
                showToast('Unable to reach the server. Please try again', 'error')
            }
        });

        function showToast(text, type) {
            VanillaToasts.create({
                title: 'Movie App',
                text: text,
                type: type,
                timeout: 5000,
            });
        }

    })
</script>

{% endblock content %}