.form-signin {
    width:100%;
    max-width:330px;
    padding:15px;
    margin:auto;
}

body{
    height: 100%;
    background-image: url('../images/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
}

.login_div{
    background-color: whitesmoke;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    opacity: 0.75;
    padding-top:10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.no_border_radius{
    border-radius: 0;
}

.error_message{
    color: red;
}

